.hamburger:hover > div:nth-child(1) {
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2) {
  animation-name: middle;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3) {
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {
    transform: rotateZ(0deg);
    transform-origin: left bottom;
    margin-top: 10%;
  }

  to {
    transform: rotateZ(41deg);
    margin-top:49%;
  }
}

@keyframes middle {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@keyframes bottom {
  from {
      transform: rotateZ(0deg);
      transform-origin: bottom top;
      margin-top: 10%;
  }

  to {
    transform: rotateZ(-41deg);
    margin-bottom: 49%;
  }
  }
}
